.accent {
	background: #7F00FF;
	background-image: background: -webkit-linear-gradient(left, #E100FF, #7F00FF);
	background-image: background: -o-linear-gradient(left, #E100FF, #7F00FF);
	background-image: background: linear-gradient(to right, #E100FF, #7F00FF);
}
.about .fa-circle {
	color: #131313 !important;
}
.accent {
	background: #E9E9E9;
}
.accent h1, p {
	color: #131313 !important;
}