@charset "utf-8";
* {
	transition: all 0.3s;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	cursor: default;
	user-select: none;
}
*[onclick] {
	cursor: pointer;
}
.fa {
	transition: all 0s;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	display: none;
	transition: none !important;
	overflow-x: hidden;
}
.light {
	color: #212121;
	background: #FFFFFF;
}
.dark {
	color: #ffffff;
	background: #373737;
}
.accent-light {
	color: #66b9bf;
	background: #ffffff;
}
.accent-dark {
	color: #ffffff;
	background: #66b9bf;
}
.accent-light2 {
	color: #07889b;
	background: #ffffff;
}
.accent-dark2 {
	color: #ffffff;
	background: #07889b;
}
.hcenter {
	margin: 0 auto;
}
.center-text {
	position: relative;
	top: 50vh;
	transform: translateY(-50%);
}
.light hr {
	border: solid 1px #212121;
	width: 90%;
	margin: 0 auto;
	opacity: 0.1;
}
.dark hr {
	border: solid 1px #FFFFFF;
	width: 90%;
	margin: 0 auto;
	opacity: 0.1;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 700;
	padding: 12px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding: 12px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 500;
	padding: 12px;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	padding: 12px;
}
p {
	padding: 12px;
}
p, a {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
}
a, a:visited .light {
	color: #212121;
}
a, a:visited .dark {
	color: #FFFFFF;
}
a:hover {
	opacity: 0.5;
}
button {
	padding: 16px 20px 16px 20px;
	margin: 16px;
	font-size: 16px;
	font-weight: 600;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border-radius: 25px;
}
button:focus {
	outline: none;
}
button:hover {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	border-radius: 2px;
}
input:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.button {
	display: inline-block;
	padding: 16px 20px 16px 20px;
	margin: 16px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border-radius: 25px;
	cursor: pointer;
}
.button:focus {
	outline: none;
}
.button:hover {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	border-radius: 2px;
	opacity: 1;
}
nav {
	height: 100vh;
	width: 300px;
	padding: 12px;
	text-align: center;
	position: fixed;
	left: -300px;
	z-index: 10000;
	box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
	text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-sizing: border-box;
	display: table;
}
nav ul {
	display: table-cell;
	vertical-align: middle;
}
nav li {
	list-style: none;
	cursor: pointer;
	padding: 6px;
	margin: 6px;
	border-radius: 25px;
	letter-spacing: 5px;
}
nav a {
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #373737;
}
nav li:hover {
	background: #373737;
	color: #FFFFFF;
	letter-spacing: 0px;
	border-radius: 0px;
}
main {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.navbutton {
	position: fixed;
	text-align: center;
	margin: 36px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	z-index: 9999;
}
.navbutton:hover {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}
.navbutton i {
	font-size: 48px;
	padding: 12px;
	float: right;
}
section {
	height: auto;
	/*min-height: 100%;*/
}
.fullheight {
	height: auto;
	min-height: 100%;
}
.home {
	text-align: center;
	text-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	/*background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(0,0,0,0.2)), url(../resources/images/IMG_6175.jpg);
	background-attachment: fixed;*/
	background-size: cover;
	background-position: center;
	min-height: 100%;
}
.home h1 {
	width: 80%;
}
.home h3 {
	width: 60%;
}
.showcase {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.showcase-container {
	width: 50%;
	min-width: 350px;
}
.showcase-text-container {
	width: 50%;
	min-width: 350px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}
.showcase img {
	width: 100%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	object-fit: cover;
}
.services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.services-item {
	width: 25%;
	height: auto;
}
.c2a {
	height: auto;
	min-height: 50%;
	text-align: center;
}
.c2a .center-text {
	position: relative;
	top: 25vh;
	transform: translateY(-50%);
}
.contact-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 500px;
	padding: 30px;
}
.contact-item {
	height: 75px;
	width: 75px;
	margin: 30px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.contact-item i {
	cursor: pointer;
}
.contact-item .tooltip {
	position: absolute;
	margin-top: 78px;
	border-radius: 2px;
	display: none;
}
.tooltip:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 13px 15px;
	border-color: #66b9bf transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -13px;
	top: -14px;
	left: 50%;
}
.contact-item:hover {
	
}
.contact-item:hover .tooltip {
	display: block;
}
.contact-form {
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contact-form form {
	width: 100%;
}
input {
	padding: 12px;
	margin: 12px;
	width: 302px;
	box-sizing: border-box;
	border-radius: 2px;
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	background: #ffffff;
	color: #373737
}
input[type="submit"] {
	padding: 20px;
	height: 76px;
}
textarea {
	padding: 12px;
	margin: 12px;
	box-sizing: border-box;
	border-radius: 2px;
	resize: none;
	width: 632px;
	height: auto;
	min-height: 100px;
	font-family: 'Merriweather',serif;
	font-size: 14px;
}
.g-recaptcha {
	margin: 12px;
	display: inline-block;
	text-align: center;
}

@media screen and (max-width: 716px) {
	.showcase-container {
		width: 100%;
	}
	.showcase-text-container {
		width: 100%;
	}
}
