/* COLORS */
:root {
	--white: rgba(240,240,240,1);
	--black: rgba(15,15,15,1);
	--grey: linear-gradient(60deg, #29323c 0%, #485563 100%);
	--blue: #48ABE0;
	--yellow: rgba(247,202,24,1);
	user-select: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
html, body, main {
	width: 100%;
	height: 100%;
	background: var(--white);
	font-size: 10px;
	font-family: Roboto;
	min-width: 592px;
	cursor: default;
	user-select: none;
}
html, body {
font-size: 10px;
}

h1 {
margin-bottom: 3rem;
font-family: futura-pt;
font-size: 6.103515625em;
line-height: 9rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h2 {
margin-bottom: 3rem;
font-family: futura-pt;
font-size: 4.8828125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h3 {
margin-bottom: 3rem;
font-family: futura-pt;
font-size: 3.90625em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h4 {
margin-bottom: 0rem;
font-family: futura-pt;
font-size: 3.125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h5 {
margin-bottom: 3rem;
font-family: futura-pt;
font-size: 2.5em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h6 {
margin-bottom: 3rem;
font-family: futura-pt;
font-size: 2em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

p {
margin-bottom: 0rem;
font-family: Roboto;
font-size: 1.8em;
line-height: 3rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
opacity: 0.7;
}
button {
	padding: 16px;
	border-radius: 3px;
	border: 0;
	font-size: 16px;
	font-family: futura-pt;
	font-weight: 600;
	text-transform: uppercase;
}
[onClick] {
	cursor: pointer;
}

.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	background: var(--white);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	transform: rotate(180deg);
}
.spinner {
	width: auto;
	height: 50px;
	padding: 2px;
	display: flex;
}
.spinner > div {
	background: rgba(150,150,150,1);
	height: 50px;
	width: 10px;
	margin: 2px;
	border-radius: 5px;
	box-sizing: border-box;
	animation: loader 0.7s ease-in-out infinite;
}
.spinner > div:nth-of-type(2) {
	animation-delay: -0.1s;
}
.spinner > div:nth-of-type(3) {
	animation-delay: -0.2s;
}
.spinner > div:nth-of-type(4) {
	animation-delay: -0.3s;
}
.spinner > div:nth-of-type(5) {
	animation-delay: -0.4s;
}
.spinner > div:nth-of-type(6) {
	animation-delay: -0.5s;
}
.spinner > div:nth-of-type(7) {
	animation-delay: -0.6s;
}
.spinner > div:nth-of-type(8) {
	animation-delay: -0.7s;
}
.spinner > div:nth-of-type(9) {
	animation-delay: -0.8s;
}
.spinner > div:nth-of-type(10) {
	animation-delay: -0.9s;
}
@keyframes loader {
	0% {height: 10px; background: #5B86E5}
	50% {height: 50px; background: #48ACE1}
	100% {height: 10px; background: #5B86E5}
}
.navbar {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	font-family: futura-pt;
	font-weight: 600;
	background: var(--white);
	color: rgba(0,0,0,0.54);
	position: absolute;
	top: 100px;
	z-index: 2;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
	display: block;
}
.navbar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.navbar li {
	padding: 12px;
	font-size: 1.6rem;
	text-transform: uppercase;
	position: relative;
	opacity: 0;
}
.navbar li:first-of-type {
	margin-right: auto;
}
.mobile {
	display: none;
}
.mobilenav {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -400px;
	background: var(--white);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 4;
	overflow-y: scroll;
}
.mobilenav div {
	width: 350px;
	height: 169px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	display: flex;
	align-content: flex-end;
	align-items: flex-end;
	padding: 24px 24px 12px 24px;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.mobilenav div p {
	color: rgba(255,255,255,0.7);
	line-height: normal;
}
.mobilenav div p:first-child {
	font-weight: 400;
	color: rgba(255,255,255,1);
}
.mobilenav ul {
	height: auto;
	list-style: none;
	padding: 24px;
	line-height: 48px;
	width: 100%;
}
.mobilenav li, .mobilenav a {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 600;
	color: rgba(0,0,0,0.87);
	display: flex;
	align-content: center;
	align-items: center;
}
.mobilenav li i {
	margin-right: 48px;
	font-size: 24px;
	border-radius: 100px;
	color: rgba(0,0,0,0.54);
}
body > div.mobilenav > ul > li.spacer {
	font-size: 16px;
	border-top: solid 1px rgba(0,0,0,0.12);
	color: rgba(0,0,0,0.38);
	line-height: 0px;
	padding-top: 16px;
	margin: 24px 0 16px 0;
	width: 100%;
}
.overlay {
	background: var(--black);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
section.header {
	width: 100%;
	height: 100%;
	background: #36D1DC;
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
	background: linear-gradient(to right, #5B86E5, #36D1DC);
}
section.header .wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
section.header h1,h2 {
	color: var(--white);
	width: 100%;
	text-align: center;
	position: relative;
}
section.header h1 {
	font-size: 8em;
	font-weight: 600;
	top: 200px;
	opacity: 0;
}
section.header h2 {
	font-size: 2.4em;
	font-weight: 600;
	top: 100px;
	opacity: 0;
}
section.header .scroll_indicator {
	border-left: solid 4px var(--white);
	border-bottom: solid 4px var(--white);
	align-self: flex-end;
	position: absolute;
	bottom: 300px;
	width: 30px;
	height: 30px;
	transform: rotate(-45deg);
	opacity: 0;
}
section.about {
	width: 100%;
	height: auto;
	background: var(--white);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}
section.about h1 {
	margin-bottom: 3rem;
}
section.about .container {
	width: 50%;
	padding: 100px;
	box-sizing: border-box;
	color: var(--black);
}
section.about .skillbar {
	width: 100%;
	height: 10px;
	background: rgba(200,200,200,1);
	border-radius: 5px;
	margin: 3px 0 8px 0;
}
section.about .skillbar .html {
	width: 85%;
	height: 10px;
	/*background: var(--blue);*/
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .css {
	width: 95%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .js {
	width: 75%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .ps {
	width: 85%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .ae {
	width: 93%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .c4d {
	width: 85%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .cad {
	width: 90%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.services {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
section.services .container {
	width: 50%;
	min-width: 575px;
	flex-shrink: 10;
}
.services > .container:nth-child(1) {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.services > .container:nth-child(2) {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 144px;
	box-sizing: border-box;
	flex-wrap: wrap;
}
#services1 {
	background: var(--grey);
	color: var(--white);
}
#services2 {
	background: var(--white);
	color: var(--grey);
}
#services3 {
	background: var(--grey);
	background-position: center;
	color: var(--white);
}
#text1, #text2, #text3 > h1,h4,p {
	position: relative;
}
.services img {
	width: 70%;
	position: relative;
}
#services3 img {
	width: 40%;
}
section.gallery {
	width: 100%;
	min-height: 100%;
	height: auto;
	background: var(--white);
	position: relative;
	padding: 100px;
	box-sizing: border-box;
	text-align: center;
	color: var(--black);
}
div.filters {
	margin-bottom: 6px;
	width: 100%;
	height: auto;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
}
div.filters ul {
	text-align: center;
	margin: 6px;
}
div.filters li {
	background: var(--white);
	border-bottom: solid 2px var(--black);
	float: left;
	list-style: none;
	padding: 6px;
	margin: 6px;
	text-align: center;
	font-family: roboto;
	font-size: 1.9em;
	color: var(--black);
	cursor: pointer;
}
.grid-item {
	width: 25%;
	padding: 12px;
	box-sizing: border-box;
}
.grid-item > img {
	width: 100%;
	height: 100%;
}
section.portfolio {
	width: 100%;
	height: 100%;
	background: var(--white);
	position: relative;
	padding: 100px;
	box-sizing: border-box;
	text-align: center;
	color: var(--black);
}
section.portfolio h1 {
	position: relative;
}
section.portfolio .main-carousel {
	width: 100%;
	height: 80%;
}
section.portfolio .main-carousel .carousel-cell:nth-child(1) {
	background: url(../img/portfolio/BlastedMemories.png);
	background-position: center;
	background-repeat: no-repeat;
}
section.portfolio .main-carousel .carousel-cell:nth-child(2) {
	background: url(../img/portfolio/EssexRoads.png);
	background-position: center;
	background-repeat: no-repeat;
}
section.portfolio .main-carousel .carousel-cell:nth-child(3) {
	background: url(../img/portfolio/grizzlystrength.png);
	opacity: 0.95;
	background-position: center;
	background-repeat: no-repeat;
}
section.portfolio .carousel-cell {
	width: 100%;
	height: 100%;
}
section.portfolio .carousel-cell h2,h3 {
	color: var(--white);
	background: var(--black);
	padding: 6px 12px 6px 12px;
}
section.portfolio .carousel-cell h2 {
	position: absolute;
	text-align: left;
	width: auto;
	top: 100px;
	left: 30px;
}
section.portfolio .carousel-cell h3 {
	position: absolute;
	text-align: right;
	bottom: 100px;
	right: 30px;
}
section.contact {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	position: relative;
	padding: 100px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
section.contact h1 {
	color: var(--white);
	width: 100%;
	text-align: center;
	position: relative;
}
section.contact form {
	width: 50%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
}
section.contact div {
	width: 50%;
	height: 270px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	align-items: space-between;
	justify-content: center;
	text-align: center;
}
section.contact form input, textarea {
	padding: 12px;
	margin: 12px;
	box-sizing: border-box;
	font-family: futura-pt;
	font-weight: 600;
	border: 0;
	border-radius: 10px;
	background: var(--white);
	color: var(--black);
	position: relative;
	outline: none;
}
section.contact form input {
	width: 90%;
	margin: 12px;
	box-sizing: border-box;
}
section.contact form input[type="submit"] {
	width: calc(45% - 12px);
	margin: 12px;
	font-size: 16px;
	font-weight: 600;
	background: var(--white);
	color: var(--black);
	cursor: pointer;
}
section.contact form input[type="reset"] {
	width: calc(45% - 12px);
	margin: 12px;
	font-size: 16px;
	font-weight: 600;
	background: var(--white);
	color: var(--black);
	cursor: pointer;
}
section.contact form textarea {
	resize: none;
	width: 90%;
	height: 150px;
}
section.contact form p {
	color: rgba(255,255,255,0.54);
	font-size: 16px;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	font-weight: 400;
	bottom: 50px;
	height: auto;
	position: absolute;
}
.footer {
	font-family: futura-pt;
	font-weight: 400;
	width: 100%;
	background: #131313;
	display: flex;
	flex: 4;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: flex-start;
	height: auto;
	min-height: 0;
	padding: 12px;
	box-sizing: border-box;
}
.footer ul {
	margin: 12px 144px 12px 12px;
	padding: 12px;
}
.footer li, a {
	color: #545454;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	list-style: none;
	text-align: left;
}
.footer li:first-child {
	color: #878787;
	font-weight: 600;
	padding: 0 0 10px 0;
}
.footer a:hover {
	text-decoration: none;
}
.footer a:visited {
	color: #545454;
}

section.faq {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 200%;
	left: 0;
	background: var(--white);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}
section.faq div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 150px 150px;
	box-sizing: border-box;
}
section.faq div:nth-of-type(3) {
	width: 100%;
	position: absolute;
	bottom: 0px;
}
section.faq h1 {
	text-align: center;
}
section.faq h1, section.faq p {
	color: var(--black);
	width: 100%;
}
/*section.faq p:nth-child(-n+2) {
	font-weight: 600;
	color: rgba(0,0,0,1);
}*/
section.faq button {
	background: var(--white);
	border: solid 2px var(--black);
	color: var(--black);
	padding: 16px 50px;
	transition: all 0.2s;
}
section.faq button:hover {
	background: var(--black);
	color: var(--white);
}
section.faq button:focus {
	outline: none;
}
@media screen and (max-width: 1150px) {
	.mobile {
		width: 60px;
		height: 60px;
		font-size: 14px;
		top: 30px;
		left: 30px;
		background: white;
		position: fixed;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		z-index: 2;
	}
	.navbar {
		display: none;
	}
	section.about .container {
		width: 100%;
	}
	section.about .container:first-child {
		padding-bottom: 0;
	}
	section.services .container, section.about .container {
		width: 100%;
		min-width: 575px;
		height: 100%;
	}
	.services > .container:nth-child(1) {
		display: none;
	}
	.grid-item {
		width: 50%;
	}
	section.contact form {
		width: 100%;
	}
	section.contact form input[type="submit"] {
		width: 100%;
	}
	section.contact form input[type="reset"] {
		width: 100%;
	}
	.footer ul {
		margin-right: 20px;
	}
	section.faq div {
	/*width: 50%;*/
	width: 100%;
	padding: 50px;
	}
}
@media screen and (max-width: 700px) {
	.grid-item {
		width: 100%;
	}
}
