@charset "utf-8";
* {
	transition: all 0.5s;
	font-family: 'Roboto',sans-serif;
}
html,body,main {
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: 0;
}
/* 100,300,400,500,700,900 */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 72px;
	margin: 0 0 0 0;
	text-align: center;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 28px;
	margin-top: 0px;
	text-align: center;
}
.textlight {
	color: #ffffff;
}
.textdark {
	color: #333333;
}
section {
	min-height: 100%;
	width: 100%;
	padding: 100px 0 100px 0;
}
.header {
	min-height: 86%;
}
.about {
	text-align: center;
}
.about p {
	font-size: 24px;
	font-weight: 300;
	padding: 0 20% 0 20%
}
.about .wrapper {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.about .wrapper .item {
	width: 25%;
	min-width: 425px;
	height: 400px;
	border-radius: 10px;
	background: #ffffff;
	margin: 10px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: nowrap;
}
.about .wrapper .item h1 {
	font-size: 30px;
}
#gdesign {
	background-image: -webkit-linear-gradient(top left, #667eea 0%, #764ba2 100%);
	background-image: -o-linear-gradient(top left, #667eea 0%, #764ba2 100%);
	background-image: linear-gradient(to bottom right, #667eea 0%, #764ba2 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#wdesign {
	background-image: -webkit-linear-gradient(left, #ff758c 0%, #ff7eb3 100%);
	background-image: -o-linear-gradient(left, #ff758c 0%, #ff7eb3 100%);
	background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#mdesign {
	background-image: -webkit-linear-gradient(left, #4facfe 0%, #00f2fe 100%);
	background-image: -o-linear-gradient(left, #4facfe 0%, #00f2fe 100%);
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#installation {
	background-image: -webkit-linear-gradient(290deg, #fc6076 0%, #ff9a44 100%);
	background-image: -o-linear-gradient(290deg, #fc6076 0%, #ff9a44 100%);
	background-image: linear-gradient(20deg, #fc6076 0%, #ff9a44 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#social {
	background-image: -webkit-linear-gradient(bottom, #9be15d 0%, #00e3ae 100%);
	background-image: -o-linear-gradient(bottom, #9be15d 0%, #00e3ae 100%);
	background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#support {
	background-image: -webkit-linear-gradient(bottom, #b224ef 0%, #7579ff 100%);
	background-image: -o-linear-gradient(bottom, #b224ef 0%, #7579ff 100%);
	background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.portfolio {
	min-height: 0;
	height: auto;
}
.portfolio .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.portfolio .wrapper .item,.item2 {
	width: 350px;
	height: 350px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-size: 550px !important;
	background-position: center !important;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 200px #000000;
}
.portfolio .wrapper .item img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	position: absolute;
	
}
.portfolio .wrapper .item h1 {
	opacity: 0;
	font-size: 48px;
	font-weight: 500;
	white-space: nowrap;
}
.portfolio .wrapper .item h2 {
	opacity: 0;
	font-size: 36px;
	font-weight: 300;
}
.portfolio .wrapper .item:hover img {
	filter: blur(5px);
}
.portfolio .wrapper .item:hover h1 {
	opacity: 100;
	z-index: 1;
	font-size: 36px;
}
.portfolio .wrapper .item:hover h2 {
	opacity: 100;
	z-index: 1;
	font-size: 24px;
}
.portfolio .wrapper .item2 {
	background: #131313;
	box-shadow: none;
}
.portfolio .wrapper .item2 h1 {
	font-size: 36px;
	font-weight: 500;
}
.portfolio .wrapper .item2 h2 {
	font-size: 24px;
	font-weight: 300;
}
.contact {
	/*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);*/
}
.footer {
	width: 100%;
	background: #131313;
	display: flex;
	flex: 4;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: space-around;
	height: auto;
	min-height: 0;
	padding: 20px 0 50px 0;
}
.footer a {
	width: auto;
	height: auto;
	padding: 10px;
	font-family: Roboto;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
}
.footer a:hover {
	text-decoration: underline;
}
.footer a:visited {
	color: #ffffff;
}


/*Style switcher*/
.style-switcher {
	width: 260px;
	height: auto;
	position: fixed;
	top: 20%;
	right: -200px;
}
.style-switcher-toggle {
	width: 60px;
	height: 60px;
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #131313;
	cursor: pointer;
}
.style-switcher-block {
	width: 200px;
	height: auto;
	position: relative;
	top: -60px;
	right: -60px;
	background: #131313;
}
.style-switcher-block h1 {
	font-size: 36px;
	font-weight: 300;
	padding: 8px 0 8px 0;
}
.style-switcher-block .wrapper {
	width: 200px;
	height: auto;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.style-switcher-block .wrapper .item {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 6px;
}
.style-switcher:hover{
	transform: translateX(-200px);
}
.style-switcher:hover .fa-spin-hover {
	animation: fa-spin 2s infinite linear !important;
}