@charset "utf-8";
:root {
	--white: #f4f4f4;
	--green: #1ED760;
	--blue: #2c8aec;
	--grey: #191414;
	--black: #151010;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
html, body, main {
	width: 100%;
	height: 100%;
	background: var(--white);
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	user-select: none;
}
*[onClick] {
	cursor: pointer;
}
div.popup {
	width: auto;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
	padding: 12px 24px;
	border-radius: 100px;
	background: var(--white);
	position: fixed;
	bottom: 100px;
	z-index: 1;
	box-shadow: 0 10px 50px 0 rgba(0,0,0,0.4);
	text-align: center;
}
div.popup p {
	font-weight: 800;
	color: var(--grey);
}
div.popup a {
	color: var(--grey);
	font-weight: 800;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background: var(--black);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 10;
}
nav div {
	width: 50px;
	height: 50px;
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content:space-around;
	transition: all 0.3s;
}
nav div span {
	width: 40px;
	height: 3px;
	background: var(--white);
	transition: all 0.3s;
	flex-grow: 10;
}
nav div span:nth-child(1) {
	top: 0px;
}
nav div span:nth-child(2) {
	top: 10px;
}
nav div span:nth-child(3) {
	top: 20px;
}
nav div:hover span:nth-child(1) {
	transform: scaleX(1.2);
}
nav div:hover span:nth-child(2) {
	transform: scaleX(1);
}
nav div:hover span:nth-child(3) {
	transform: scaleX(0.8);
}
.nav {
	position: fixed;
	left: 0;
	width: 100vw !important;
	height: calc(100% - 100px);
	bottom: 0px;
	z-index: 10;
	display: none;
}
.nav div:first-child {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
}
.nav div:first-child span {
	position: relative;
	bottom: -100%;
	width: 25%;
	height: 100%;
	background: var(--green);
	box-shadow: 0 0 200px 20px rgba(0,0,0,0.0);
}
.nav div:nth-child(2) {
	width: 100%;
	height: calc(100% - 100px);
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 100px 200px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}
.nav div:nth-child(2) ul {
	list-style: none;
	text-align: right;
}
.nav div:nth-child(2) li {
	color: var(--white);
	font-size: 100px;
	font-weight: 700;
	transform: translateX(-50px);
	opacity: 0;
}
h1 {
	color: var(--black);
	font-size: 64px;
	text-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
p {
	color: var(--black);
	font-size: 18px;
	font-weight: 600;
}
section {
	height: 100%;
	z-index: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: var(--grey);
	background-size: cover;
	z-index: 0;
}
.header h1 {
	color: var(--white);
	position: absolute;
}
.about {
	height: auto;
	min-height: 100%;
	width: 100%;
	background: var(--grey);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.about h1, p {
	color: var(--white);
}
.about div.container {
	width: 100%;
	padding: 100px 20vw;
	box-sizing: border-box;
}
.about div.container:nth-child(2) {
	padding-top: 0;
}
.about div.container:nth-child(2) p {
	margin: 12px 0 2px 0;
}
.about .skillbar {
	width: 100% !important;
	height: 15px;
	background: rgba(0,0,0,0.2);
	border-radius: 7.5px;
}
.about .skillbar > div {
	height: 100%;
	border-radius: 7.5px;
	background: var(--green);
}
.html {
	width: 90%;
}
.css {
	width: 95%;
}
.js {
	width: 60%;
}
.ps {
	width: 88%;
}
.ae {
	width: 93%;
}
.c4d {
	width: 85%;
}
.cad {
	width: 90%;
}
.services {
	background: var(--green);
	width: 100%;
	height: auto;
	position: relative;
	padding: 100px;
	box-sizing: border-box;
}
.services h1 {
	color: var(--white);
	margin-bottom: 50px;
}
.services .container {
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.services .container > div {
	width: 300px;
	height: 500px;
	flex-grow: 1;
	border-radius: 8px;
	background: var(--grey);
	/*box-shadow: -10px 10px 0px 0px rgba(25, 20, 20, 0.4);*/
	box-shadow: 0 10px 20px 0px rgba(0,0,0,0.4);
	margin: 25px 25px;
	box-sizing: border-box;
}
.services .container > div > .icon {
	width: 100%;
	height: 125px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: /*rgba(35,30,30,1)*/var(--grey);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
body > main > section.services > div > div > div > i {
	font-size: 90px;
	text-align: center;
	color: var(--white);
}
.services .container > div h1 {
	font-size: 28px;
	text-align: center;
	padding: 12px 0;
	margin-bottom: 0;
	color: var(--white);
	background: var(--black);
}
.services .container > div h2 {
	font-size: 22px;
	text-align: left;
	padding: 12px 12px 3px 12px;
	box-sizing: border-box;
	margin-bottom: 0;
	color: var(--white);
}
.services .container > div p {
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	padding: 0px 12px;
	box-sizing: border-box;
	margin-bottom: 0;
	color: var(--white);
	opacity: 0.9;
}