/* COLORS */
:root {
	--white: rgba(240,240,240,1);
	--black: rgba(15,15,15,1);
	--grey: linear-gradient(60deg, #29323c 0%, #485563 100%);
	--blue: #48ABE0;
	--yellow: rgba(247,202,24,1);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
html, body, main {
	width: 100%;
	height: 100%;
	background: var(--white);
	font-size: 10px;
	font-family: Roboto;
	min-width: 592px;
	cursor: default;
	user-select: none;
}
html, body {
font-size: 10px;
}

h1 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 6.103515625em;
line-height: 9rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h2 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 4.8828125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h3 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 3.90625em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h4 {
margin-bottom: 0rem;
font-family: Montserrat;
font-size: 3.125em;
line-height: 6rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h5 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 2.5em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

h6 {
margin-bottom: 3rem;
font-family: Montserrat;
font-size: 2em;
line-height: 3rem;
font-weight: 600;
font-style: normal;
letter-spacing: 0em;
}

p {
margin-bottom: 0rem;
font-family: Assistant;
font-size: 1.8em;
line-height: 3rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
}
[onClick] {
	cursor: pointer;
}

.navbar {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	font-family: Montserrat;
	background: var(--white);
	color: rgba(0,0,0,0.54);
	font-weight: 100;
	position: absolute;
	top: 100px;
	z-index: 2;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
	display: block;
}
.navbar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.navbar li {
	padding: 12px;
	font-size: 1.6rem;
	text-transform: uppercase;
	position: relative;
}
.navbar li:first-of-type {
	margin-right: auto;
}
.mobile {
	display: none;
}
.mobilenav {
	width: 350px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -400px;
	padding: 48px;
	box-sizing: border-box;
	background: var(--white);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	z-index: 4;
}
.mobilenav ul {
	width: 100%;
	height: auto;
	list-style: none;
}
.mobilenav li {
	font-family: Montserrat;
	font-size: 4em;
	color: var(--black);
	padding: 6px;
	text-align: center;
	text-transform: uppercase;
}
.overlay {
	background: var(--black);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
section.header {
	width: 100%;
	height: 100%;
	background: #36D1DC;
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
	background: linear-gradient(to right, #5B86E5, #36D1DC);
}
section.header .wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
section.header h1,h2 {
	color: var(--white);
	width: 100%;
	text-align: center;
	position: relative;
}
section.header h1 {
	font-size: 8em;
	font-weight: 400;
}
section.header h2 {
	font-size: 2.2em;
	font-weight: 300;
}
section.header .scroll_indicator {
	border-left: solid 4px var(--white);
	border-bottom: solid 4px var(--white);
	align-self: flex-end;
	position: absolute;
	bottom: 60px;
	width: 30px;
	height: 30px;
	transform: rotate(-45deg);
}
section.about {
	width: 100%;
	height: auto;
	background: var(--white);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}
section.about h1 {
	margin-bottom: 3rem;
}
section.about .container {
	width: 50%;
	padding: 100px;
	box-sizing: border-box;
	color: var(--black);
}
section.about .skillbar {
	width: 100%;
	height: 10px;
	background: rgba(200,200,200,1);
	border-radius: 5px;
	margin: 3px 0 8px 0;
}
section.about .skillbar .html {
	width: 85%;
	height: 10px;
	/*background: var(--blue);*/
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .css {
	width: 95%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .js {
	width: 75%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .ps {
	width: 85%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .ae {
	width: 93%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .c4d {
	width: 85%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.about .skillbar .cad {
	width: 90%;
	height: 10px;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
	border-radius: 5px;
}
section.services {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
section.services .container {
	width: 50%;
	min-width: 575px;
	flex-shrink: 10;
}
.services > .container:nth-child(1) {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.services > .container:nth-child(2) {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 144px;
	box-sizing: border-box;
	flex-wrap: wrap;
}
#services1 {
	background: var(--grey);
	color: var(--white);
}
#services2 {
	background: var(--white);
	color: var(--grey);
}
#services3 {
	background: var(--grey);
	background-position: center;
	color: var(--white);
}
#text1, #text2, #text3 > h1,h4,p {
	position: relative;
}
.services img {
	width: 70%;
	position: relative;
}
#services3 img {
	width: 40%;
}
section.portfolio {
	width: 100%;
	height: 100%;
	background: var(--white);
	position: relative;
}
section.contact {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #5B86E5, #36D1DC);
}

@media screen and (max-width: 1150px) {
	.mobile {
		width: 100px;
		height: 100px;
		font-size: 14px;
		top: 30px;
		left: 30px;
		background: white;
		position: fixed;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		z-index: 2;
	}
	.navbar {
		display: none;
	}
	section.about .container {
		width: 100%;
	}
	section.about .container:first-child {
		padding-bottom: 0;
	}
	section.services .container, section.about .container {
		width: 100%;
		min-width: 575px;
		height: 100%;
	}
	.services > .container:nth-child(1) {
		display: none;
	}
}
